﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>COVID-19</title>

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    <!-- <link rel="stylesheet" href="css/style.css" /> -->

</head>

<body>
    <div id="ld" class="loading">جارٍ تحميل الصفحة. الرجاء الانتظار</div>
    <div class="header">
        <span class="header-element store-name">تشات بوت لكورونا فيروس</span>
    </div>
    <div class="store-body">
        <div class="store fh">
            <div class="fh1 flx">
                <div id="bg-img"></div>
                <div class="store-imgs">
                </div>
            </div>
        </div>
        <div class="chat fh">
            <div class="fh1">
                <ul id="msg-ul">
                </ul>
                <div class="chat-box">
                    <textarea wrap="off" placeholder="اسأل سؤالاً ..." dir="rtl"></textarea>
                    <button id="send">
                        أرسل
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="login" class="modal" style="padding: 10px 20%">
        <div class="modal-log-content">
            <p id="wlcm">أهلا وسهلا بك في منصتنا</p>
            <label style="font-size: 22px" for="nm">:</label>
            <input type="text" id="nm" name="uname" dir="rtl" placeholder="من فضلك, أدخل اسمك...">
            <label class="container" onclick="genChoose(true)">ذكر
                <input id="ml" type="radio" name="radio" checked value="male">
                <span class="checkmark"></span>
            </label>
            <label class="container" onclick="genChoose(false)">أنثى
                <input id="fl" type="radio" name="radio" value="female">
                <span class="checkmark"></span>
            </label>
            <button type="button" onclick="log_in()">إدخل إلى المنصة</button>
        </div>
    </div>

    <div id="myModal" class="modal" style="padding: 10px 20%;">
        <span id="close1">&times;</span>
        <img class="modal-img-content" id="img01" />
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='js/Script.js')}}"></script>
    <!-- <script src="js/Script.js"></script> -->
</body>

</html>